{% extends 'base.html' %}
{% load static %}
{% block body %}

 {% include 'header_menu.html' %}

    <!-- home section start -->
    {% include 'home.html' %}


    <!-- about section start -->
    {% include 'about.html' %}


    <!-- services section start -->
    {% include 'services.html' %}


    <!-- skills section start -->
    {% include 'skills.html' %}

    <!-- teams section start -->
    {% include 'teams.html' %}

        <!-- Hobby section start -->
        {% include 'hobby.html' %}

    <!-- contact section start -->
    {% include 'contact.html' %}

{% endblock %}
