
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My creative skills & experiences.</div>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            {% for skill in skills %}
                            <p>{{ skill.skill_name }}</p>
                            {% endfor %}
                        </div>
                        <div class="line html"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>